@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    align-items: flex-end;
  
}
section{
    display: flex;
    justify-content: space-between;

    height: 10vh;
}
#logo{
    display: flex;
    gap: 10px;
    width: 20vw;
    align-items: center;
    justify-content: center;
}
#logo i{
    color: orangered;
    font-size: 24px;
}

#logo h1{
    color: orangered;
    font-size: 24px;
}
#menu{
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;

}
.container a{
    color: black;
    font-weight: 400;
}
#botao{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botao button{
    width: 13vw;
    background-color: orangered;
    color: white;
    height: 5vh;
    border: none;
    cursor: pointer;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;

}
.container:hover{
    background-color: orangered;
}

#banner{
    display: flex;
    width: 100vw;
    
}

#texts{
    position: absolute;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#image{
    width: 100vh;
    height: 60vh;
}

#image img{
    width: 100vw;
    height: 60vh;
    filter: brightness(25%);
}

#text h4{
    font-size: 22px;
    color: orangered;
    text-align: center;
}

#text h1{
    color: white;
    font-size: 42px;
}

#search button{
    background-color: orangered;
    width: 9vw;
    height: 6vh;
    color: white;
    cursor: pointer;
    font-size: 12px;
    border:none;
}

#search{
    width: 35vw;
    height: 6.5vh;
    display: flex;
}

#search input{
    width: 25vw;
    height: 5.5vh;
}

#search input::placeholder {
    padding-left: 1px; 
}

.all{
    width: 33vw;
}

#request{
    display: flex;
    margin-top: 460px;
    width:100vw ;
    height:40vh;
    background-color: #f2f2f5;
    justify-content: center;
    align-items: center;
}

.content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32vw;
}

.content h3{
    color: orangered;
}

.content h1{
    font-size: 30px;
    margin-bottom: 15px;
}

.content p{
    font-size: 14px;   
}

#blocos{
    margin-top: 20px;
    display: flex;
    gap:140px;
    width: 32vw;
    height: 10vh;
}

#blocks{
    width: 90vw;
}

#blocks span{
    font-size: 30px;
    color: orangered;
    font-weight: 900;
}

#blocks p{
    font-size: 9px;
    font-weight:700;
} 

#login{
    display: flex;
    background-color:orangered;
    width: 20vw;
    height: 40vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login_in{
    width: 15vw;
    height: 4vh;
}

.login select{
    width: 15vw;
    height: 4vh; 
}

.botao_ok{
   width: 15vw;
   height: 4vh;
   background-color: #1f1f2e;
   color: white; 
   border: 0px;
}

#price{
    display: flex;
    width:100vw;
    height:60vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:20px ;
}


.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 10vh;
    flex-direction: column;
}

.cabecalho h1{
    font-size: 30px;    
}

.cabecalho h4{
    color: orangered;
}

#plano{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 53vw;
    height: 35vh;
    margin-top: 60px;
}

#bloco_plan{
    background-color:#f2f2f5;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 45vh;
}

.value{
    font-size: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#model_plan{
    display: flex;
    width: 15vw;
    height: 8vh;
    background-color: orangered;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    gap: 12px;
}

.products button{
    height: 30px;
    font-size: 12px;
    width: 100px;
    background-color: orangered;
    color: white;
    margin-top: 20px;
}

